<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div style="text-align: center;">
          <img src="../../../../../assets/imagenes/notification.gif" alt="">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div style="text-align: center;">
          <ion-text color="tertiary">
            <h1>Nuevo pedido</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="cerrar()" expand="block" fill="solid" color="warning">
      Cerrar
    </ion-button>
  </ion-toolbar>
</ion-footer>
