ion-label {
  h2 {
    color: rgb(95, 94, 94);
  }
}

ion-item {

  margin-top: 1rem;
  ion-label {
    h2 {
      margin-left: 1rem;
      font-family: 'Roboto';

      color: rgb(90, 87, 87);
    }
  }

  ion-icon {
    color: rgb(155, 28, 28);
  }

  #iconblanco {
    color: white;
  }
}

ion-content {
  #fuegoimagen {
    z-index: -5;
    opacity: 0.6;
    margin-top: -120px;

  }



}



.menu-inner{
  background-color: transparent !important;
  }

