<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="warning">
          <h1>Tipos de menu</h1>
          <p>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon> <i>Catering, Personal, Familiar etc...</i>
          </p>
        </ion-text>
        <ion-segment style="margin-top: 20px;" mode="ios" color="dark" value="listado" (ionChange)="segmentChanged($event.target.value)">
          <ion-segment-button  value="listado">
            <ion-label>Listado</ion-label>
            <ion-icon name="list-outline"></ion-icon>
          </ion-segment-button>

          <ion-segment-button  value="nuevo">
            <ion-label>Nuevo</ion-label>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-segment-button>

        </ion-segment>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-list-tipos-menu *ngIf="selectedSegment==='listado'"></app-list-tipos-menu>
        <app-add-tipo-menu *ngIf="selectedSegment==='nuevo'"></app-add-tipo-menu>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
