
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="tertiary">
          <h1>Pedidos</h1>
        </ion-text>
        <ion-segment style="margin-top: 15px;" mode="md" color="dark" value="recientes" (ionChange)="segmentChanged($event.target.value)">
          <ion-segment-button  value="recientes">
            <ion-label>Recientes</ion-label>
            <ion-icon name="receipt-outline"></ion-icon>
          </ion-segment-button>


          <ion-segment-button  value="completados">
            <ion-label>Completados</ion-label>
            <ion-icon name="paper-plane-outline"></ion-icon>
          </ion-segment-button>

          <ion-segment-button *ngIf="userstore.id === 1"  value="pedidomanual">
            <ion-label>Pedido manual</ion-label>
            <ion-icon name="document-outline"></ion-icon>
          </ion-segment-button>


          <ion-segment-button *ngIf="userstore.formulario_pedido === true"  value="nuevopedido">
            <ion-label>Nuevo</ion-label>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-segment-button>


        </ion-segment>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-add-pedido *ngIf="selectedSegment==='nuevopedido' && userstore.formulario_pedido === true"></app-add-pedido>
      </ion-col>
      <ion-col size="12">
        <app-list-pedidos *ngIf="selectedSegment==='recientes'"></app-list-pedidos>
      </ion-col>
      <ion-col size="12">
        <app-pedidos-completados *ngIf="selectedSegment==='completados'" ></app-pedidos-completados>
      </ion-col>

      <ion-col size="12">
        <app-pedido-manual *ngIf="selectedSegment==='pedidomanual'"></app-pedido-manual>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




