
<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>
     <ion-grid fixed>
       <ion-row>
         <ion-col size="2">

          <ion-button size="small" (click)="dismissModal()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
         </ion-col>

       </ion-row>
       <ion-row>
         <ion-col size="12">
          Edicion de Categoria
         </ion-col>
       </ion-row>
     </ion-grid>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="frm_editcategoria" (ngSubmit)="onSubmit()">

      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">

        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top:5px;" *ngIf="categoria.imagen.length > 0"  src="{{url}}{{categoria.imagen}}" />
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top:25px;" *ngIf="categoria.imagen.length == 0 || categoria.imagen == null"  src="./../.././../../assets/imagenes/notimage.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-item>
        <ion-label position="floating">Categoria: <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Imagen: <ion-text color="danger">*</ion-text></ion-label>
        <ion-input (change)="onChangeInputFile($event)"  formControlName="imagen" type="file"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripcion: <ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea rows="4" formControlName="descripcion" ></ion-textarea>
      </ion-item>
      <ion-button block color="success" type="submit" expand="block" fill="solid"  [disabled]="frm_editcategoria.invalid">
        Guardar Edicion
      </ion-button>

    </form>
  </ion-card-content>
</ion-card>
