<ion-searchbar (ngModelChange)="convertToLowerCase($event)" [(ngModel)]="texto" placeholder="Search product" i type="text"  [debounce]="250" showCancelButton="always"></ion-searchbar>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-item line="none">
        <ion-label>
          <ion-icon name="filter-outline"></ion-icon> Filtrar por categorias:</ion-label>
        <ion-select (ionChange)="categoriaSeleccionada($event)" value=""  placeholder="Select">
          <ion-select-option  value="0">All</ion-select-option>

          <ion-select-option *ngFor="let category of categories" value="{{category.id}}">{{category.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="12">
          <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls></div>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>
</ion-grid>
<ion-grid fixed *ngIf="products.length > 0">
  <ion-row>
    <ion-col *ngFor="let product of products | searchproducts: texto  |
    paginate:
    { itemsPerPage: 10,
      currentPage: p,
      totalItems: products.length
    }"  size-md="6" size-lg="6" size-sm="12" size-xs="12">
     <ion-card mode="md" style="height: 350px;">
      <ion-card-title>
        <ion-text class="ion-text-right" color="primary">
          <ion-chip *ngIf="product.estado === 'Disponible'" color="success" mode="ios" outline="true">
            <ion-label>{{product.estado}}</ion-label>
          </ion-chip>

          <ion-chip *ngIf="product.estado === 'No Disponible'" color="danger" mode="ios" outline="true">
            <ion-label>{{product.estado}}</ion-label>
          </ion-chip>
        </ion-text>
      </ion-card-title>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-badge color="dark">{{product.categoria}}</ion-badge>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
       <ion-grid fixed>

         <ion-row>
           <ion-col size="4" >
            <img style="margin-top: 25px;"  *ngIf="product.image.length > 0"  src="{{urlproducts}}{{product.image}}" />
            <img style="margin-top:25px;" *ngIf="product.image.length == 0"  src="./../.././../../assets/imagenes/notimage.png" alt="">
           </ion-col>
           <ion-col size="8">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-card-header>
                    <ion-card-subtitle>{{product.nombre}}</ion-card-subtitle>
                    <ion-card-title>$ {{product.precio}}</ion-card-title>
                  </ion-card-header>
                </ion-col>
              </ion-row>

            </ion-grid>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col size="12">
            <ion-button *ngIf="estado==='edicion'" size="small" class="btneditarproduct" color="secondary" style="color: white !important;" (click)="editarProduct(product)" expand="block" fill="solid" >
              Editar Producto
            </ion-button>
           </ion-col>

           <ion-col size="12">
            <ion-button *ngIf="estado==='edicion'" size="small" class="btneditarproduct" color="dark" style="color: white !important;" (click)="deleteProduct(product)" expand="block" fill="outline" >
              Eliminar Producto
            </ion-button>
           </ion-col>
         </ion-row>


         <ion-row>
          <ion-col size="12">
           <ion-button (click)="seleccionarProductoByDeal(product)" *ngIf="estado==='listado'" size="small" color="dark"  expand="block" fill="solid" >
             Seleccionar
           </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button *ngIf="manual" (click)="addProductToPedido(product)" size="small" expand="block" color="primary" fill="outline" >
              Seleccionar
            </ion-button>
          </ion-col>
        </ion-row>

       </ion-grid>
     </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

<!-- Skeleton screen -->
<ion-grid fixed *ngIf="products.length == 0">
  <ion-row>
    <ion-col  size-md="6" size-lg="6" size-sm="12" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col  size-md="6" size-lg="6" size-sm="12" size-xs="12">
      <ion-card>

        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>



