<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="warning">
          <h1>Categorias</h1>
          <p>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon> <i>Carnes, Ensaladas, Mariscos, Always Available etc...</i>
          </p>
        </ion-text>
        <ion-segment mode="ios" color="dark" value="listado" (ionChange)="segmentChanged($event.target.value)">
          <ion-segment-button  value="listado">
            <ion-label>Listado</ion-label>
            <ion-icon name="list-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button  value="nueva">
            <ion-label>Nueva categoria</ion-label>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!--COMPONENTES-->

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-list-categories *ngIf="selectedSegment=='listado'" ></app-list-categories>
          <app-add-category *ngIf="selectedSegment=='nueva'"></app-add-category>
        </ion-col>
      </ion-row>
    </ion-grid>







</ion-content>
