

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="warning">
          <h1>Administracion</h1>
        </ion-text>
        <ion-segment mode="ios" color="dark" value="listado" (ionChange)="segmentChanged($event.target.value)">
          <ion-segment-button  value="hours">
            <ion-label>Open close</ion-label>
            <ion-icon name="time-outline"></ion-icon>          </ion-segment-button>
          <ion-segment-button  value="passwordchange">
            <ion-label>Change password</ion-label>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!--COMPONENTES-->

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-business-hours *ngIf="selectedSegment==='hours'" ></app-business-hours>
        </ion-col>
        <ion-col size="12">
          <app-change-password *ngIf="selectedSegment==='passwordchange'" ></app-change-password>
        </ion-col>
      </ion-row>
    </ion-grid>



</ion-content>
