
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="2">
       <ion-button color="warning" size="small"(click)="cancelaredicion()">
         <ion-icon name="arrow-back-outline"></ion-icon>
       </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Puede adjuntar los siguientes side al menu en creacion</ion-card-subtitle>
      <ion-card-title style="color: orange;">Side Orders</ion-card-title>
      <ion-item>
          <ion-label position="floating">Tipos</ion-label>
          <ion-select (ionChange)="tipochange($event)"   placeholder="Seleccione">
            <ion-select-option  *ngFor="let tipo of tipossideorder"   value="{{tipo.id}}">{{tipo.nombre}}</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-card-header>
    <ion-card-content style="margin-top: 30px;" >
     <ion-grid fixed>
       <ion-row>
         <ion-col size="4" >
          <div style="text-align: right;">
            <ion-item lines="none" *ngIf="sideorders.length > 0" style="border-bottom: grey solid 1px;" >
              <ion-label>Select all</ion-label>
              <ion-toggle (ionChange)="cambio($event)" color="warning" ></ion-toggle>
            </ion-item>
          </div>
         </ion-col>

       </ion-row>
     </ion-grid>
      <form action="" name="f1">
        <ion-list>
          <ion-item *ngFor="let side of sideorders; let i=index">
            <ion-avatar slot="start">
              <img src="../../../../assets/imagenes/notimage.png" />
            </ion-avatar>
            <ion-item slot="end" lines="none">
              <ion-checkbox color="warning" checked="{{isChecked}}" (ionChange)="addSide(side,i, $event)" mode="android"></ion-checkbox>

            </ion-item>
            <ion-label>
                <h2>{{side.nombre}}</h2>
                <h3 style="color: black;">$ {{side.precio}}</h3>
                <p>Caracteristica: {{side.caracteristica}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4" style="border-bottom: grey solid 1px;" *ngIf="sideorders.length > 0">
            <ion-text color="dark">
              <h3>Sides seleccionados</h3>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-item *ngFor="let side of sideSeleccionados" >
                <ion-icon name="fast-food-outline"></ion-icon>
                <ion-label>
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="6">{{side.nombre}}</ion-col>
                      <ion-col size="2"><ion-text color="tertiary">
                        <h4>$ {{side.precio}}</h4>
                      </ion-text></ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    <ion-card-content>

    </ion-card-content>
    <ion-button *ngIf="sideSeleccionados.length > 0"  (click)="finalizarSeleccion()" color="success" expand="block" fill="solid">
      Finalizar seleccion
    </ion-button>
  </ion-card>
</ion-content>

