<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-button color="warning" size="small" (click)="verProductos()">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
        <ion-label style="margin-left: 5px;">Agregar menus</ion-label>
      </ion-button>

    </ion-card-subtitle>
    <ion-card-title>Formulario para pedido manual</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid fixed>
        <ion-segment mode="ios" style="margin-top: 15px;"  color="dark" value="recientes" (ionChange)="segmentChanged($event.target.value)">
          <ion-segment-button  value="encabezado">
            <ion-label>Encabezado de pedido</ion-label>
            <ion-icon name="receipt-outline"></ion-icon>
          </ion-segment-button>

          <ion-segment-button  value="detalles">
            <ion-label>Detalles de pedido</ion-label>
            <ion-icon name="fast-food-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col *ngIf="selectedSegment==='encabezado'"  size="12">
          <form [formGroup]="frm_add_pedido">
            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="12"  size-xs="12">
                <ion-item>
                  <ion-label position="floating">Nombre cliente:</ion-label>
                  <ion-input required formControlName="nombre_cliente" type="text" placeholder=""></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="12"  size-xs="12">
                <ion-item>
                  <ion-label position="floating">Apellido cliente:</ion-label>
                  <ion-input  formControlName="apellido_cliente" type="text" placeholder=""></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="12"  size-xs="12">
                <ion-item>
                  <ion-label position="floating">Opcion de pago:</ion-label>
                  <ion-select formControlName="opcion_pago" required placeholder="Select">
                    <ion-select-option value="1">Efectivo</ion-select-option>
                    <ion-select-option value="2">Tarjeta de credito</ion-select-option>
                    <ion-select-option value="3">Tarjeta de debito</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="12"  size-xs="12">
                <ion-item>
                  <ion-label position="floating">Opcion de delivery:</ion-label>
                  <ion-select formControlName="opcion_delivery"  placeholder="Select">
                    <ion-select-option value="1">Delivery</ion-select-option>
                    <ion-select-option value="2">Pick Up</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="12"  size-xs="12">
                <ion-item>
                  <ion-label position="floating">ZipCode:</ion-label>
                  <ion-input formControlName="zipcode" type="text" placeholder=""></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="12"  size-xs="12">
                <ion-item>
                  <ion-label position="floating">City:</ion-label>
                  <ion-input formControlName="city" type="text" placeholder=""></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="12"  size-xs="12">
                <ion-item>
                  <ion-label position="floating">State:</ion-label>
                  <ion-input formControlName="state" type="text" placeholder=""></ion-input>
                </ion-item>
              </ion-col>

            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Direccion envio:</ion-label>
                  <ion-textarea rows="4" formControlName="direccion_envio"></ion-textarea>
                </ion-item>

              </ion-col>
            </ion-row>
          </form>
        </ion-col>
        <ion-col *ngIf="selectedSegment==='detalles'"  size="12">
          <ion-list>
            <ion-header>
              <ion-toolbar>
                <ion-title>Menus seleccionados</ion-title>
              </ion-toolbar>
              <ion-item *ngFor="let detalle of detalle_pedido_dto" >
                <ion-avatar slot="start">
                  <img src="{{urlproducts}}{{detalle.product.image}}" />
                </ion-avatar>
                <ion-label>
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="5">
                        {{detalle.product.nombre}}
                      </ion-col>
                      <ion-col size="2">
                        {{detalle.cantidad}}
                      </ion-col>
                      <ion-col size="2">$ {{detalle.product.precio}}
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" style="color: grey;">
                        {{detalle.comentario}}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>

              <ion-item *ngFor="let side of sideorders">
                <ion-avatar slot="start">
                  <img src="../../../../assets/imagenes/mangoicon.png" />
                </ion-avatar>
                <ion-label>
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="5">
                        {{side.nombre}}
                      </ion-col>
                      <ion-col size="2"> </ion-col>
                      <ion-col size="2">$ {{side.precio}}</ion-col>
                    </ion-row>

                  </ion-grid>
                </ion-label>
              </ion-item>

              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12">
                    <ion-button [disabled]="subtotal > 0" (click)="checkOut()" expand="block" color="warning" fill="outline" >
                      CheckOut
                    </ion-button>
                  </ion-col>
                  <ion-col size="6"></ion-col>
                </ion-row>
              </ion-grid>

              <ion-item lines="none">
                <ion-label>
                  <ion-grid fixed >
                    <ion-row>
                      <ion-col size="3"></ion-col>
                      <ion-col size="6">Sub-total</ion-col>
                      <ion-col size="3">$ {{subtotal | number: '1.2-2'}} </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="3"></ion-col>
                      <ion-col size="6">Tax</ion-col>
                      <ion-col size="3">$ {{(subtotal*0.0865) | number: '1.2-2'}} </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="3"></ion-col>
                      <ion-col size="6"><ion-text color="warning">
                        <h1>Total</h1>
                      </ion-text></ion-col>
                      <ion-col size="3"><ion-text color="warning">
                        <h2>$ {{subtotal + (subtotal * 0.0865) | number: '1.2-2'}}</h2>
                      </ion-text></ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ion-header>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <ion-card-content>
    <ion-button (click)="save()" [disabled]="detalle_pedido.length === 0 || frm_add_pedido.invalid || subtotal === 0" color="success" expand="block" fill="solid" >
      Guardar pedido
    </ion-button>
  </ion-card-content>
</ion-card>
