<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-list-header>
          <ion-text color="warning">
            <h1>Listado</h1>
          </ion-text>
        </ion-list-header>

        <ion-item *ngFor="let deal of deals" >
          <ion-avatar slot="start">
            <img src="{{urlproducts}}{{deal.image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{deal.producto}}</h2>
            <h3>Descuento aplicado: {{deal.descuento}} %</h3>
            <p>Precio de producto: ${{deal.precio}}</p>
            <div class="ion-text-end">
              <ion-button color="danger" (click)="deleteDeal(deal)">
                <ion-icon  name="trash-outline"></ion-icon>              </ion-button>
            </div>
          </ion-label>
        </ion-item>
        </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
