
<ion-content>
  <ion-grid fixed >

    <ion-row>
      <ion-col size="12">
        <div style="text-align: center;">
          <img src="../../../assets/imagenes/manguito-resize.png" alt="">
        </div>
      </ion-col>

    </ion-row>


    <ion-row>
      <ion-col size="6">
        <div style="text-align: center;">
          <ion-button color="warning" size="small" (click)="dismissModal()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <!-- <ion-col size="6">
        <div style="text-align: center;">
        <ion-button (click)="imprimir()" color="dark" size="small" >
          <ion-icon name="print-outline"></ion-icon>
        </ion-button></div>
      </ion-col> -->
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>
            <ion-label>Impresoras en la red</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of bluetoothList" (click)="selectPrinter(item.id)">
              {{item.name}} {{item.id}}
          </ion-item>
          </ion-list>
          <div>
              Selected Printer: {{selectedPrinter}}
          </div>
          <ion-button  expand="full" color="danger"  (click)="printStuff()">
          Print
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- DETALLES GENERALES -->

  <ion-card style="border-top: solid 2px #AD3A00;">
    <ion-card-header>
      <ion-card-subtitle>Detalles Generales</ion-card-subtitle>
      <ion-card-title>Pedido #{{pedido.id}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <ion-grid fixed>
       <ion-row>
         <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
           <ion-item lines="none">
             <ion-icon color="warning" name="person-outline"></ion-icon>
             <ion-label>Cliente:
               <p>
                 {{nombrecliente | uppercase}}
               </p>
             </ion-label>

           </ion-item>
         </ion-col>

         <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
           <ion-item lines="none">
             <ion-icon color="warning" name="cash-outline"></ion-icon>
             <ion-label>Opcion de pago:
               <p>{{pedido.opcion_pago}}</p>
             </ion-label>
           </ion-item>
         </ion-col>
       </ion-row>

       <ion-row>
        <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <ion-item lines="none">
            <ion-icon color="warning" name="paper-plane-outline"></ion-icon>
            <ion-label>Direccion de envio:
              <p>{{pedido.direccion_envio}}</p>
            </ion-label>

          </ion-item>
        </ion-col>

        <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <ion-item lines="none">
            <ion-icon color="warning" name="notifications-outline"></ion-icon>
            <ion-label>Estado:
              <p>{{pedido.estado}}</p>
            </ion-label>

          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <ion-item lines="none">
            <ion-icon name="mail-outline"></ion-icon>            <ion-label>Correo:
              <p>{{pedido.correo}}</p>
            </ion-label>

          </ion-item>
        </ion-col>

        <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <ion-item lines="none">
            <ion-icon name="call-outline"></ion-icon>            <ion-label>Telefono:
              <p>{{pedido.telefono}}</p>
            </ion-label>

          </ion-item>
        </ion-col>
      </ion-row>
     </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- MENUS DEL PEDIDO -->
  <ion-card style="border-top: solid 2px #FF722B;">
    <ion-card-header>
      <ion-card-subtitle>Menus solicitados por el cliente</ion-card-subtitle>
      <ion-card-title>Menus</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <ion-grid fixed>
       <ion-row>
         <ion-col size="12">
          <ion-item *ngFor="let detalle of detalles" >
            <ion-thumbnail slot="start">
              <img src="{{urlproducts}}{{detalle.image}}">
            </ion-thumbnail>
            <ion-label>
              <h3> {{detalle.nombre}}</h3>
              <h4>Cantidad: {{detalle.cantidad}}</h4>
              <p>{{detalle.comentario}}</p>
            </ion-label>
          </ion-item>

          <ion-list id="skeleton" *ngIf="detalles.length===0" >
              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-skeleton-text></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-skeleton-text></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
         </ion-col>
       </ion-row>
     </ion-grid>
    </ion-card-content>
  </ion-card>


  <!-- SIDE ORDERS DEL PEDIDO -->
  <ion-card style="border-top: solid 2px #FA5F11;">
    <ion-card-header>
      <ion-card-subtitle>Sides solicitados por el cliente</ion-card-subtitle>
      <ion-card-title>Side Orders</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <ion-grid fixed>
       <ion-row>
         <ion-col size="12">
          <ion-item *ngFor="let side of sideorders" >
            <ion-thumbnail slot="start">
              <img src="../../../../assets/imagenes/fuegoicon.jpg">
            </ion-thumbnail>
            <ion-label>
              <h3 style="color: black;"> {{side.side}}</h3>
              <h4>Cantidad: {{side.cantidad}}</h4>
              <p>{{side.comentario}}</p>
            </ion-label>
          </ion-item>

          <ion-list id="skeleton" *ngIf="sideorders.length===0" >
              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-skeleton-text></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-skeleton-text></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
         </ion-col>
       </ion-row>
     </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer >
  <ion-toolbar color="warning">
    <ion-title>
     Total ${{pedido.total | number : '1.2-2'}}
    </ion-title>
  </ion-toolbar>
</ion-footer>
