ion-card {
  ion-card-title{
    font-family: 'Roboto';
  }

}

ion-item {
  font-size: 11px;
  font-family: 'Roboto';
  ion-label{
    margin-left: 10px;
    color: grey;
    p {
      font-weight: bold;
      color: black;
      font-size: 10px;
    }
  }
}

ion-content {
  --background: rgb(255, 253, 253) !important;
}
