<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-buttons slot="start">
      <ion-menu-button color="warning"  menu="menuapp" auto-hide="false"></ion-menu-button>
      <ion-button (click)="home()">
        <ion-icon color="dark" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-item lines="none">
        <ion-label>Open/Close</ion-label>
        <ion-toggle checked="isChecked" [(ngModel)]="isChecked" (ionChange)="cambio($event)" slot="end" color="success"></ion-toggle>
      </ion-item>

      <ion-button>
        <ion-icon color="warning" size="large" name="notifications-outline"></ion-icon>
        <ion-badge color="dark">{{conteo}}</ion-badge>
      </ion-button>
    </ion-buttons>

    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <div style="text-align: center;">
          <!-- <img src="../../../assets/imagenes/log-fuegopicante.png" alt=""> -->
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div style="text-align: center; ">
            <ion-badge *ngIf="abierto"  color="success"><ion-icon name="storefront-outline"></ion-icon> {{estado_tienda}}</ion-badge>
            <ion-badge *ngIf="cerrado"  color="danger"><ion-icon name="storefront-outline"></ion-icon> {{estado_tienda}}</ion-badge>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
