<ion-content>

<ion-grid fixed >

  <ion-card>
    <ion-card-header>

      <ion-card-title>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="2">
             <ion-button color="warning" size="small"(click)="cancelaredicion()">
               <ion-icon name="arrow-back-outline"></ion-icon>
             </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
             Edicion de menu
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-row>
        <ion-col  size="12" >
            <img style="display: block; margin-left: auto; margin-right: auto; width: 30%; margin-top:5px;" *ngIf="prod.image.length > 0"  src="{{urlproducts}}{{prod.image}}" />
            <img style="display: block; margin-left: auto; margin-right: auto; width: 30%; margin-top:25px;" *ngIf="prod.image.length == 0"  src="./../.././../../assets/imagenes/notimage.png" alt="">
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 20px; ">
        <ion-col size="6" style="border-bottom:solid 1px grey">
          <ion-text color="medium">
            <h1>Datos del menu</h1>
          </ion-text>
        </ion-col>
      </ion-row>

      <form style="margin-top: 50px;" *ngIf="frm_edit_product" enctype="multipart/form-data" [formGroup]="frm_edit_product" (ngSubmit)="guardarEdicion()">
        <ion-row >
          <ion-col  size-lg="8" size-md="6" size-sm="12" size-xs="12">
            <ion-item>
              <ion-label>Always Available</ion-label>
              <ion-checkbox formControlName="always_available" (ionChange)="cambioAvailableMenu($event)" color="success" slot="start"></ion-checkbox>
            </ion-item>
           </ion-col>
        </ion-row>
        <ion-row>


          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position='floating'>Dia para menu:</ion-label>
                <ion-select #dia value="{{prod.dia}}" id="dia" >
                  <ion-select-option value="Monday">Lunes</ion-select-option>
                  <ion-select-option value="Tuesday	">Martes</ion-select-option>
                  <ion-select-option value="Wednesday">Miercoles</ion-select-option>
                  <ion-select-option value="Thursday">Jueves</ion-select-option>
                  <ion-select-option value="Friday">Viernes</ion-select-option>
                  <ion-select-option value="Saturday">Sabado</ion-select-option>
                  <ion-select-option value="Sunday">Domingo</ion-select-option>
                </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Tipo de menu: </ion-label>
              <ion-select value="{{prod.tipo_menu}}" id="tipomenu" required>
                  <ion-select-option *ngFor="let tipo of tiposmenu" value="{{tipo.id}}">{{tipo.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Estado: </ion-label>
              <ion-select value="{{prod.estado}}" id="estado" >
                  <ion-select-option  value="Disponible">Disponible</ion-select-option>
                  <ion-select-option  value="No Disponible">No Disponible</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Nombre: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="nombre" required></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Precio normal:</ion-label>
              <ion-input required formControlName="precio"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Precio oferta:</ion-label>
              <ion-input required formControlName="precio_oferta"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Categorias </ion-label>
              <ion-select id="categoriaprod" value="{{prod.categoria_id}}"   >

                <ion-select-option   *ngFor="let category of categories" value="{{category.id}}">
                  {{category.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12"  >
            <ion-item>
              <ion-label>Agregar side orders al menu</ion-label>
              <ion-button size="small" (click)="addSideOrders()" expand="block" fill="solid" color="warning">
               <ion-icon  name="add"></ion-icon>
             </ion-button>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-list>
                <ion-list-header>
                  <ion-chip>
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label><b>{{sideorders.length}}</b> Side Orders seleccionado(s)</ion-label>
                  </ion-chip>
                </ion-list-header>

                <ion-item *ngFor="let side of sideorders; let i = index"  >
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="6">
                        <ion-label>
                          <h2>{{side.nombre}}</h2>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-button color="danger" size="small" (click)="deleteSide(side)">
                          <ion-icon  name="trash-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-list>
          </ion-col>
        </ion-row>



        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Imagen: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input (change)="onChangeInputFile($event)" type="file" formControlName="image" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">

            <ion-item>
              <ion-label position="floating">Descripcion: <ion-text color="danger">*</ion-text></ion-label>
              <ion-textarea formControlName="descripcion" rows="3"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Codigo de barra: <ion-text color="danger">*</ion-text></ion-label>
                <ion-input formControlName="company" required></ion-input>
              </ion-item>
              <p class="ion-text-center">
                <svg showWhen="!barcode_" id="barcode"></svg>
              </p>
              <ion-button size="small" style="margin-left: 5px;" expand="block" fill="solid" color="tertiary">
                Generar
              </ion-button>
              <ion-button size="small" style="margin-left: 5px;" expand="block" fill="outline" color="secondary">
                Escanear
              </ion-button>
            </ion-col>
          </ion-row> -->

          <ion-row style="margin-top: 20px; ">
            <ion-col size="6" style="border-bottom:solid 1px grey">
              <ion-text color="medium">
                <h1>Side orders del menu</h1>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">

              <div class="alert simple-alert" *ngIf="sideorderprod.length === 0" >
                <h3>El menu no tiene side orders asociados</h3>
                <a class="close">                  <ion-icon name="fast-food-outline"></ion-icon>
                </a>
              </div>

              <ion-list>
                <ion-item *ngFor="let side of sideorderprod; let i=index" >
                  <ion-icon name="fast-food-outline"></ion-icon>
                  <ion-label>
                    <ion-grid fixed>
                      <ion-row>
                        <ion-col size="6">{{side.nombre}}</ion-col>
                        <ion-col size="2"><ion-text color="tertiary">
                          <h4>$ {{side.precio}}</h4>
                        </ion-text></ion-col>
                        <ion-col size="2">
                          <div class="ion-text-right">
                            <ion-button color="danger" (click)="eliminarSideProd(side, i)">
                              <ion-icon  slot="icon-only" name="trash-outline"></ion-icon>
                            </ion-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

      </form>
    </ion-card-content>
  </ion-card>



</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row style="margin-top: 25px;">
      <ion-col size="12">
        <ion-button (click)="guardarEdicion()"   expand="block" type="submit" fill="solid" color="success">
          Guardar Edicion
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
