<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="modalDismiss()" expand="block" color="warning" fill="solid" >
          Cerrar
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <app-list-products [manual]="manual"></app-list-products>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
