
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>
        Nueva Categoria
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="frm_addcategoria" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Categoria: <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="nombre" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Imagen: </ion-label>
          <ion-input (change)="onChangeInputFile($event)"  formControlName="imagen" type="file"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripcion: </ion-label>
          <ion-textarea  formControlName="descripcion" rows="5"></ion-textarea>
        </ion-item>
        <ion-button style="margin-top: 3rem;" block color="success" type="submit" expand="block" fill="solid"  [disabled]="frm_addcategoria.invalid">
          Añadir categoria
        </ion-button>
        <ion-button  expand="block" fill="outline" color="danger" >
          Cancelar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

