

<ion-content >

  <ion-grid fixed style="margin-top: 50px;">
    <ion-row>
      <ion-col size="6" class="text-left" button tappable>
        <ion-item>
          <ion-label>
            <h1>Pedidos recientes</h1>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="12" >
        <div style="text-align: center; ">
         <ion-slides [pager]="false" [options]="sliderConfig" mode="ios" pager="ios" scrollbar="ios" style="padding-bottom: 50px; padding-top: 50px">
            <ion-slide  *ngFor="let pedido of pedidos" >
              <ion-card *ngIf="!(pedido.estado_id == 4 || pedido.estado_id == 7)" mode="md" >
                <ion-card-header>

                  <ion-card-subtitle>
                    <ion-badge color="warning">
                      {{pedido.fecha_creacion | date: 'MMMM d, y  h:mm'}}
                    </ion-badge>
                   </ion-card-subtitle>
                  <ion-card-title class="text-left"></ion-card-title>
                </ion-card-header>
                <ion-card-content>
                 <ion-grid fixed>
                  <ion-row>
                    <ion-col size="12">
                      <div class="ion-text-start">
                        <h4>Pedido: <b>#{{pedido.id}}</b></h4>
                      </div>
                    </ion-col>
                     <ion-col size="6"></ion-col>
                   </ion-row>
                   <ion-row class="ion-no-margin" style="margin-top: -20px;">
                    <ion-col size="12">
                      <div class="ion-text-start">
                        <h4>Cliente: <b>{{pedido.nombre_cliente | uppercase}} {{pedido.apellido_cliente | uppercase}}</b></h4>
                      </div>
                    </ion-col>
                     <ion-col size="6"></ion-col>
                   </ion-row>

                   <ion-row class="ion-no-margin">
                    <ion-col size="12">
                      <div class="ion-text-start">
                        <h2>Total: <b>$ {{pedido.total | number: '1.2-2'}}</b></h2>
                      </div>
                    </ion-col>
                     <ion-col size="6"></ion-col>
                   </ion-row>

                   <ion-row>
                    <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                      <ion-button  [disabled]="pedido.estado_id === 3 || pedido.estado_id === 4" fill="outline" size="small"  color="tertiary" (click)="aceptarPedido(pedido)">
                        <ion-icon style="padding-right: 5px;" name="thumbs-up-outline"></ion-icon>

                      </ion-button>
                    </ion-col>
                    <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                      <ion-button [disabled]="pedido.estado_id === 1 || pedido.estado_id === 4 " fill="outline" size="small"  color="success" (click)="pedidoListo(pedido)">
                        <ion-icon style="padding-right: 5px;" name="checkmark-outline"></ion-icon>

                      </ion-button>
                    </ion-col>
                    <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                      <ion-button [disabled]="pedido.estado_id === 4" fill="outline" size="small"  color="danger" (click)="rechazarPedido(pedido)">
                        <ion-icon style="padding-right: 5px;" name="thumbs-down-outline"></ion-icon>

                      </ion-button>
                    </ion-col>
                  </ion-row>
                 </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-slide>
         </ion-slides>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" class="text-left" button tappable>
        <ion-item>
          <ion-label>
            <h1>Estadisticas</h1>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 25px;">
      <ion-col size="6">
        <ion-card mode="ios" style="padding: 15px;">
          <ion-card-subtitle>Productos mas vendidos</ion-card-subtitle>
          <canvas #barChart></canvas>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card mode="ios" style="padding: 15px;">
          <ion-card-subtitle>Pedidos del dia</ion-card-subtitle>
          <canvas #doughnut></canvas>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
