<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>
      Nuevo deal
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="frm_deal" (ngSubmit)="saveDeal()">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10">
            <ion-item>
              <ion-label position="floating">Buscar producto: <ion-text color="danger">*</ion-text></ion-label>

            </ion-item>
            <ion-button size="small" color="dark" (click)="buscarProducto()"  expand="block" fill="solid" >
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card mode="ios" *ngIf="pedidoseleccionado">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="4" >
                   <img style="margin-top: 25px;"  *ngIf="product.image.length > 0"  src="{{urlproducts}}{{product.image}}" />
                   <img style="margin-top:25px;" *ngIf="product.image.length == 0"  src="./../.././../../assets/imagenes/notimage.png" alt="">
                  </ion-col>
                  <ion-col size="8">
                   <ion-grid fixed>
                     <ion-row>
                       <ion-col size="12">
                         <ion-card-header>
                           <ion-card-subtitle>{{product.nombre}}</ion-card-subtitle>
                           <ion-card-title>$ {{product.precio}}</ion-card-title>
                         </ion-card-header>
                       </ion-col>
                     </ion-row>

                   </ion-grid>
                  </ion-col>
                </ion-row>


              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Descripcion: <ion-text color="danger">*</ion-text></ion-label>
              <ion-textarea required formControlName="descripcion" rows="4"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Descuento: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="number" formControlName="descuento"></ion-input>
            </ion-item>

          </ion-col>

        </ion-row>


        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Horario de inicio:</ion-label>
              <ion-datetime formControlName="inicio" displayFormat="D-MM-YYYY H:mm" placeholder="Select Date"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Horario de fin:</ion-label>
              <ion-datetime formControlName="fin" displayFormat="D-MM-YYYY H:mm" placeholder="Select Date"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>



      <ion-button style="margin-top: 3rem;" block color="success" type="submit" expand="block" fill="solid"
      >
        Guardar deal
      </ion-button>
      <ion-button  expand="block" fill="outline" color="danger" >
        Cancelar
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
