
<ion-grid fixed>
  <!-- <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-list-header>
          <ion-label>Impresoras en la red</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of bluetoothList" (click)="selectPrinter(item.id)">
            {{item.name}} {{item.id}}
        </ion-item>
        </ion-list>
        <div>
            Selected Printer: {{selectedPrinter}}
        </div>
        <ion-button expand="full" color="danger"  (click)="printStuff()">
        PRINT!
        </ion-button>
    </ion-col>
  </ion-row> -->
</ion-grid>

<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-searchbar placeholder="Buscar pedido"  type="text" name="text" [(ngModel)]="texto"  [debounce]="250" showCancelButton="always"></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-card *ngIf="pedidos.length == 0">
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" *ngFor="let pedido of pedidos | searchpedido: texto ">


      <ion-card *ngIf="!(pedido.estado_id == 4 || pedido.estado_id == 7)"  style="border-top: solid 3px orange;"  mode="ios" >
        <ion-card-header style="border-bottom: 1px rgb(216, 213, 213) solid ;">
          <ion-card-title >
            {{pedido.fecha_creacion | date: 'MMMM d, y  h:mm'}}


            <ion-fab color="warning" size="small" style="margin-top: 15px;" horizontal="end" vertical="top"  >
              <ion-fab-button size="small" color="warning">
                <ion-icon name="settings-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="start">

                <ion-fab-button size="small" color="dark" (click)="detalles(pedido)">
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-fab-button>

               <!-- <ion-fab-button size="small" color="dark" (click)="imprimir(pedido)">
                <ion-icon name="print-outline"></ion-icon>
                </ion-fab-button> -->

              </ion-fab-list>
            </ion-fab>


          </ion-card-title>
        </ion-card-header>
        <ion-card-content style="padding-top: 20px;">

          <ion-item>
            <ion-thumbnail slot="end" style="margin-right: 45px;">
              <ion-chip color="dark">
                <ion-label>{{pedido.estado}}</ion-label>
              </ion-chip>

            </ion-thumbnail>
            <ion-label style="color: rgb(150, 9, 9);">
              # {{pedido.id}}
              <p>
                <ion-icon name="person-outline"></ion-icon>
                {{pedido.nombre_cliente | uppercase}} {{pedido.apellido_cliente | uppercase}}
              </p>
              <p style="color: grey;">{{pedido.direccion_envio}}</p>

                <h1 style="margin-top: 10px; color: black; font-weight: bold;">$ {{pedido.total | number : '1.2-2'}}</h1>

            </ion-label>
          </ion-item>
          <ion-grid fixed>
            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <ion-button  [disabled]="pedido.estado_id === 3 || pedido.estado_id === 4" fill="outline" size="small"  color="tertiary" (click)="aceptarPedido(pedido)">
                  <ion-icon style="padding-right: 5px;" name="thumbs-up-outline"></ion-icon>
                  Aceptar pedido
                </ion-button>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <ion-button [disabled]="pedido.estado_id === 1 || pedido.estado_id === 4 " fill="outline" size="small"  color="success" (click)="pedidoListo(pedido)">
                  <ion-icon style="padding-right: 5px;" name="checkmark-outline"></ion-icon>
                  Pedido listo
                </ion-button>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <ion-button [disabled]="pedido.estado_id === 4" fill="outline" size="small"  color="danger" (click)="rechazarPedido(pedido)">
                  <ion-icon style="padding-right: 5px;" name="thumbs-down-outline"></ion-icon>
                  Rechazar pedido
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>

