<ion-content>
  <div id="invoice-POS">



    <div id="mid">
      <div class="info">
        <h2>Pedido #{{pedido.id}}</h2>
        <p>
            Client:  {{nombrecliente | uppercase}} <br>
            Direc: {{pedido.direccion_envio}} <br>
            Pago: {{pedido.opcion_pago}} <br>
        </p>
      </div>
    </div><!--End Invoice Mid-->

    <div id="bot" >

					<div id="table">
						<table>
							<tr class="tabletitle" >
								<td class="item"><h2>Item</h2></td>
								<td class="Hours"><h2>Qty</h2></td>
								<!-- <td class="Rate"><h2>Sub Total</h2></td> -->
							</tr>

							<tr class="service" *ngFor="let detalle of detalles">
								<td class="tableitem"><p class="itemtext">{{detalle.nombre}}</p></td>
								<td class="tableitem"><p class="itemtext">{{detalle.cantidad}}</p></td>
								<!-- <td class="tableitem"><p class="itemtext">$35.00</p></td> -->
							</tr>

              <tr class="service" *ngFor="let side of sideorders">
								<td class="tableitem"><p class="itemtext">{{side.side}}</p></td>
								<td class="tableitem"><p class="itemtext">{{side.cantidad}}</p></td>
								<!-- <td class="tableitem"><p class="itemtext">$5.00</p></td> -->
							</tr>




							<tr class="tabletitle">
								<td></td>
								<td class="Rate"><h2>tax</h2></td>
								<td class="payment"><h2>$ {{pedido.tax}}</h2></td>
							</tr>

							<tr class="tabletitle">
								<td></td>
								<td class="Rate"><h2>Total</h2></td>
								<td class="payment"><h2>$ {{pedido.total}}</h2></td>
							</tr>

						</table>
					</div><!--End Table-->

					<div id="legalcopy">
						<p class="legal"><strong>Thank you for your purchase!</strong>
						</p>
					</div>

				</div>
        <!--End InvoiceBot-->
  </div><!--End Invoice-->
</ion-content>
