<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <div style="text-align: center;">
        <img src="../../../../assets/imagenes/elmanguito-deli.png" alt="">
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">

     <ion-button color="warning" size="small" (click)="dismissModal()">
       <ion-icon name="arrow-back-outline"></ion-icon>
     </ion-button>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Ingrese los siguientes datos para crear un usuario</ion-card-subtitle>
          <ion-card-title>Formulario de registro</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid fixed>
            <form [formGroup]="frm_register">
              <ion-row>
                <ion-col size-xs="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-item>
                    <ion-label position="floating">Nombre:</ion-label>
                    <ion-input type="text" formControlName="nombre"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-item>
                    <ion-label position="floating">Apellido:</ion-label>
                    <ion-input type="text" formControlName="apellido"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-xs="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-item>
                    <ion-label position="floating">Correo:</ion-label>
                    <ion-input type="text" formControlName="correo"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-lg="6" size-md="6" size-sm="6">
                  <ion-item>
                    <ion-label position="floating">Password:</ion-label>
                    <ion-input type="text" formControlName="password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-button (click)="guardar()" color="success" expand="block" fill="solid">
                    Crear usuario
                  </ion-button>
                </ion-col>
              </ion-row>


            </form>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>
