<ion-card mode="ios">
  <ion-card-header>
    <ion-row>
      <ion-col size="2">
       <ion-button color="warning" size="small"(click)="cancelaredicion()">
         <ion-icon name="arrow-back-outline"></ion-icon>
       </ion-button>
      </ion-col>
    </ion-row>
    <ion-card-subtitle style="margin-top: 30px;">Side Orders</ion-card-subtitle>
    <ion-card-title>Edicion</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select id="tiposideorder" name="tipo" placeholder="" value="{{sideorder.tipo_side_order}}" >
              <ion-select-option  *ngFor="let tipo of tipossideorders" value="{{tipo.id}}">{{tipo.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input name="nombre" [(ngModel)]="sideorder.nombre" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Caracteristica (Sabor, Tamaño)</ion-label>
            <ion-textarea name="descripcion" rows="4" [(ngModel)]="sideorder.caracteristica"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Precio $</ion-label>
            <ion-textarea name="descripcion" rows="4" [(ngModel)]="sideorder.precio"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button (click)="guardarEdicion()" expand="block" fill="solid" color="success">
            Guardar Edicion
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
