

<ion-content *ngIf="login" >
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8" size-lg="8" size-md="8" size-sm="12" size-xs="12" >
        <ion-card class="login-div" mode="ios" >
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <div style="text-align: center;">

                  <img src="../../../assets/imagenes/manguito-resize.png" alt="">
                </div>
              </ion-col>

            </ion-row>
          </ion-grid>
          <ion-card-header class="ion-text-center">
            <ion-card-title> Hello! </ion-card-title><br>
            <ion-card-subtitle>Sign in to your account</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content *ngIf="loginfrm" >
            <ion-grid fixed>

                <form [formGroup]='frm_login'>
                <ion-row>
                  <ion-col size="12">
                   <ion-item>
                    <ion-label position="floating">Email:</ion-label>
                    <ion-input formControlName="email" size="9"  type="text"></ion-input>
                   </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating">Password:</ion-label>
                      <ion-input formControlName="password"  type="password"></ion-input>

                    </ion-item>
                  </ion-col>
                </ion-row>

              </form>

            </ion-grid>

          </ion-card-content>

          <ion-card-content *ngIf="register">

          </ion-card-content>

          <ion-card-content>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-button (click)="login()" expand="block" color="warning">
                  <ion-icon slot="start" name="enter-outline"></ion-icon>
                  Login
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row >
              <ion-col size="12">
                <div style="text-align: center;">Or</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button (click)="verRegister()" expand="block" fill="solid" color="dark">
                  Register
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <!-- <img id="flame" src="../../../assets/imagenes/flameback.jpg" alt="" > -->

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


