
<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>
     <ion-grid fixed>
       <ion-row>
         <ion-col size="2">
          <ion-button color="warning" size="small" (click)="dismissModal()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col size="12">
          Edicion para tipo de menu
         </ion-col>
       </ion-row>
     </ion-grid>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="frm_edittipomenu" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripcion: <ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea rows="4" formControlName="descripcion" ></ion-textarea>
      </ion-item>

      <ion-button block color="success" type="submit" expand="block" fill="solid"  [disabled]="frm_edittipomenu.invalid">
        Guardar Edicion
      </ion-button>

    </form>
  </ion-card-content>
</ion-card>
