<ion-card mode="ios" style="border-top: 2px solid coral;">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>
      Cambio de password
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label size="small" position="floating">Nuevo password: <ion-text color="danger">*</ion-text></ion-label>
            <ion-input size="small"  [(ngModel)]="pass1" required  type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label size="small"  position="floating">Confirmar password: <ion-text color="danger">*</ion-text></ion-label>
            <ion-input size="small" [(ngModel)]="pass2" required  type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button size="small" (click)="cambiarPassword()" style="margin-top: 3rem;" block color="success" type="submit" expand="block" fill="solid"  >
            Guardar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>








  </ion-card-content>


</ion-card>
