
 <ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle>
      Horarios de apertura y cierre de tu restaurante
    </ion-card-subtitle>
    <ion-card-title>
      Open Close
    </ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="openclose.length > 0" >
    <ion-grid fixed>
      <ion-row *ngFor="let horario of openclose" >
        <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="12" style="font-size: 10px;">
          <ion-item lines="none">
            <ion-icon name="calendar-outline" style="color: rgb(253, 80, 0);"></ion-icon>
            <ion-input  type="text" style="color: rgb(253, 80, 0); font-weight: lighter; margin-left: 5px; font-size: 10px;"  value="{{horario.day}}" readonly ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3" size-lg="3" size-md="3" size-sm="3" size-xs="12" style="font-size: 10px;">
          <ion-item>
            <ion-icon name="time-outline"></ion-icon>
            <ion-label style="font-size: 10px;">From</ion-label>
            <ion-datetime displayFormat="H:mm"  id="from{{horario.day}}" style="font-size: 10px;" value="{{horario.from}}" display-format="HH:mm"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="3" size-lg="3" size-md="3" size-sm="3" size-xs="12" style="font-size: 10px;">
          <ion-item>
            <ion-icon name="time-outline"></ion-icon>
            <ion-label style="font-size: 10px;">To</ion-label>
            <ion-datetime displayFormat="H:mm"  id="to{{horario.day}}" style="font-size: 10px;" value="{{horario.to}}"  display-format="HH:mm"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="2"  size-lg="2" size-md="2" size-sm="2" size-xs="12" style="font-size: 10px;">
          <ion-button (click)="updateHorario(horario)" size="small"  expand="block" fill="solid" color="success">
            <ion-icon name="save-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-content>


<ion-list id="skeleton" *ngIf="openclose.length === 0" >

  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>

</ion-card>

