
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-searchbar placeholder="Buscar pedido"  type="text" name="text" [(ngModel)]="texto"  [debounce]="250" showCancelButton="always"></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-card *ngIf="pedidos.length == 0">
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>

    <ion-col size="12" *ngFor="let pedido of pedidos | searchpedido: texto ">


      <ion-card *ngIf="pedido.estado_id === 4"  style="border-top: solid 3px rgb(45, 223, 125);"  mode="ios" >
        <ion-card-header style="border-bottom: 1px rgb(216, 213, 213) solid ;">
          <ion-card-title >
            {{pedido.fecha_creacion | date: 'MMMM d, y  h:mm'}}
            <ion-fab size="small" color="warning" vertical="top" horizontal="end">
              <ion-fab-button size="small" color="warning" (click)="detalles(pedido)">
                <ion-icon name="receipt-outline"></ion-icon>
              </ion-fab-button>

            </ion-fab>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content style="padding-top: 20px;">

          <ion-item>
            <ion-thumbnail slot="end" style="margin-right: 45px;">
              <ion-chip color="dark">
                <ion-label>{{pedido.estado}}</ion-label>
              </ion-chip>

            </ion-thumbnail>
            <ion-label style="color: rgb(150, 9, 9);">
              # {{pedido.id}}
              <p>
                <ion-icon name="person-outline"></ion-icon>
                {{pedido.nombre_cliente | uppercase}} {{pedido.apellido_cliente | uppercase}}
              </p>
              <p style="color: grey;">{{pedido.direccion_envio}}</p>

                <h1 style="margin-top: 10px; color: black; font-weight: bold;">$ {{pedido.total | number : '1.2-2'}}</h1>

            </ion-label>
          </ion-item>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>

