ion-chip {
  margin-left: 0;
}

ion-card-title {
  h2 {
      font-weight: lighter;
      color: grey;
      font-family: 'Balsamiq Sans';
  }
}

ion-item {
  ion-label {
      font-weight: lighter;
      color: grey;
      margin-left: 5px;
  }
}

ion-label{
  h3 {
    color: black;
    font-weight: bold;
  }
}
