<ion-searchbar showCancelButton="focus" [(ngModel)]="texto" color="medium" placeholder="Buscar categoria"></ion-searchbar>
<ion-list>

  <ion-grid fixed *ngIf="alert_vacio">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4" class="columnaalerta" style="text-align: center;">
        <ion-item lines="none">
          <img src="../../../../app/../assets/imagenes/empty-box.png" alt="">
          <ion-label >No se han creado categorias aun...</ion-label>
        </ion-item>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let categoria of invcategorias | searchcategories: texto" size-md="6" size-lg="6" size-sm="12" size-xs="12">

        <ion-card style="padding-top: 15px; padding-bottom: 15px;">
          <ion-item lines ="none">
            <ion-thumbnail slot="start">
              <img *ngIf="categoria.imagen.length===0" src="../../../../assets/imagenes/notimage.png">
              <img *ngIf="categoria.imagen.length>0" src="{{url}}{{categoria.imagen}}">
            </ion-thumbnail>
            <ion-label>
              <h3>{{categoria.nombre}}</h3>
              <p *ngIf="categoria.descripcion !== 'null'" >{{categoria.descripcion}}</p>
            </ion-label>
          </ion-item>
          <ion-grid fixed>
            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" color="dark" (click)="editarCategoria(categoria)" >
                <ion-button size="small" color="dark"  expand="block" fill="solid">
                Editar
              </ion-button></ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <ion-button size="small" color="danger" (click)="deleteCategory(categoria)"  expand="block" fill="outline" >
                  Eliminar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-list>


<ion-list id="skeleton" *ngIf="skeleton" >

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
</ion-list>
