<ion-content>
  <ion-grid fixed>

    <ion-card mode="ios" style="padding-bottom: 20px;">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{urlproducts}}{{product.image}}" />
            </ion-avatar>
            <ion-label>
              <h1>{{product.nombre}}</h1>
              <h2 style="color: rgb(212, 113, 55);"><b>$ {{product.precio | number:'1.2-2'}}</b></h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-list>
            <ion-list-header>
              <ion-label>Side orders para agregar</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let side of sideorders">
              <ion-label>{{side.nombre}}</ion-label>
              <ion-checkbox (ionChange)="addSide(side, $event)" slot="start"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Comentario a la cocina:</ion-label>
            <ion-textarea rows="4" [(ngModel)]="comentario"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>


    </ion-card>

    <ion-row class="ion-justify-content-center">

      <ion-col size="3">

      </ion-col>

      <ion-col size="3">
        <ion-button [disabled]="conteo===0" color="danger-outline"  (click)="restar()">
          <ion-icon color="danger" name="remove-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>


        <ion-col size="3">
          <ion-label>
            <h1>{{conteo}}</h1>
          </ion-label>
        </ion-col>


        <ion-col size="3">
          <ion-button color="primary-outline"  (click)="sumar()">
            <ion-icon color="primary" slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>


    </ion-row>

    <ion-row>
        <ion-col size="12">
          <ion-button [disabled]="conteo===0" color="dark" (click)="addProductPedido()" expand="block" fill="solid" >
            Añadir por $ {{(product.precio * conteo) | number: '1.2-2'}}
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
